<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374025587266-bab2ssj7a836lga8c5oncflbpnjvs27t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374025587266-bab2ssj7a836lga8c5oncflbpnjvs27t</string>
	<key>API_KEY</key>
	<string>AIzaSyBd6tbz7kKEHGMZW-3glwI5LngY5eTSNpg</string>
	<key>GCM_SENDER_ID</key>
	<string>374025587266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.OmerHagage.DrinkIt</string>
	<key>PROJECT_ID</key>
	<string>drinkit-99b72</string>
	<key>STORAGE_BUCKET</key>
	<string>drinkit-99b72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374025587266:ios:6b2d1b3433c4ee36edfbdb</string>
	<key>DATABASE_URL</key>
	<string>https://drinkit-99b72.firebaseio.com</string>
</dict>
</plist>